<template>
    <div class="page">
            <div class="title">
                <div v-html="pageList" class="knowContent"></div>
            </div>    
    </div>    
</template>
<script>
import * as api from './api'   //接口api
import * as utils from '../../utils'   //公共方法
export default {
    data(){
        return {
            pageList:"",
            content:'' 
        }
    },
    methods:{
        async getGoList(){
           
            let formData = {
               "knoweleId":this.$route.query.knoweleId
            }
           const res = await utils.HTTP(`${api.knowContent}`,formData); 
           
            if( res.code==1 ){      
            let list=JSON.stringify(res.data.content).replace(/\\n/g,"<br/>");
            let str=list.substr(0,list.length-1);
            let str2 = str.substr(1,str.length-1)
            this.pageList=str2;
            console.log(str)  
            }
           
        }
    },
    created(){
        this.getGoList()
        console.log(this.$route.query.knoweleId)
    }
}
    
</script >
<style scoped>
    .page{
        width:100%;
        background:#f3f4f9;
    }
    
   .title{
       padding: 1.1rem 0.9rem;
        font-size: 0.5rem;
       font-family: Arial, Helvetica, sans-serif;
   }
   .knowContent{
        text-align:justify;
        text-justify:distribute-all-lines; 
        width: 100%;
       
   }
</style>
