<template>
  <div class="MothElectPowerWap">
    <div>
      <select class="selectYearWap">
        <option value="2017">2017</option>
        <option value="2018">2018</option>
        <option value="2019">2019</option>
      </select>
      <span v-if="clientType==1" class="prompt" @click="showDialogStyle=true">数据说明<img  src="../../../assets/images/electPower/wenhao.png"
             alt=""></span>
    </div>
<!-- 说明提示 -->
    <div>
      <x-dialog v-model="showDialogStyle" hide-on-blur :dialog-style="{width: '70%', height: '4rem', }">
          <div class="dialogConet">
            <p>
              <span>数据说明</span>
              <i @click="showDialogStyle=false"></i>
              </p>
            <span>本页数据仅供参考，实际数据以账单为准</span>
          </div>
        
      </x-dialog>
    </div>
    <div>
      <flexbox class="electInfoWap">
        <flexbox-item>
          <div class="flex-demo">
            <p>1712</p>
            <span>年电量累计（度）</span>
          </div>
        </flexbox-item>
        <flexbox-item>
          <div class="flex-demo">
            <p>1712</p>
            <span>年电费累计（元）</span>
          </div>
        </flexbox-item>
      </flexbox>
      <moth-echart></moth-echart>
      <moth-list></moth-list>
    </div>

  </div>
</template>
<style scoped>
</style>
<script>
import { Flexbox, FlexboxItem ,XDialog} from 'vux'
import { XButton, Group, XSwitch, TransferDomDirective as TransferDom } from 'vux'
import mothList from '../../../components/electrictyPower/mothElectPower/list'
import mothEchart from '../../../components/electrictyPower/mothElectPower/mothEchart'
export default {
  data () {
    return {
      showDialogStyle: false,
      clientType:1,//客户类型 0个人 1企业用户--地区 2企业用户--商户
    }
  },
  components: {
    Flexbox,
    FlexboxItem,
    XDialog,
    mothEchart,
    mothList
  },
  methods:{
    aa(){
alert(11)
    }
  }
}
</script>
<style scoped lang="less">
.selectYearWap {
  outline: none;
  border: none;
  font-size: 0.373333rem;
  margin-bottom: 0.933333rem;
  padding: 0 0.2rem;
  background: #fff;
}
.electInfoWap {
  text-align: center;

  .flex-demo {
    > p {
      font-size: 0.48rem;
      color: #060606;
      font-weight: bold;
      margin-bottom: 0.4rem;
    }
    > span {
      font-size: 0.373333rem;
      color: #a0a0a0;
    }
  }
}
.prompt {
  float: right;
  img {
    width: .4rem;
    padding-left: .16rem;
  }
}
.dialogConet{
  text-align: center;
  >p{
  border-bottom: 1px solid #000;
    line-height: 1.066667rem;
    margin-bottom: 1.2rem;
    position: relative;
  }
  i{
 width: .4rem;
 height: .4rem;
    position: absolute;
    top: .32rem;
    right: .266667rem;
    display: block;
    background: url('../../../assets/images/electPower/guanbi.png') no-repeat;
    background-size: 100%;
  }
  img{
   
  }
}
</style>