<template>
  <div style="width:95%;margin:0 auto">
    <!-- <div class="hidenBox">
      <div class="hidenThead">
        <span>类别</span>
        <span>单价</span>
        <span>电量(度)</span>
        <span>电费(元)</span>
      </div>
      <div class="hidenBody">
        
            <tr>
              <td><span>1</span>一档用电</td>
              <td>0.588</td>
              <td>100</td>
              <td>53</td>
            </tr>
             <tr>
              <td><span>1</span>二档用电</td>
              <td>0.588</td>
              <td>100</td>
              <td>53</td>
            </tr>
             <tr>
              <td><span>1</span>三档用电</td>
              <td>0.588</td>
              <td>100</td>
              <td>53</td>
            </tr>
      </div>
    </div>-->
    <div class="listContent">
      <ul class="T-head">
        <li>月份</li>
        <li>电量(度)</li>
        <li>电费(元)</li>
      </ul>
      <!-- 循环 -->
      <div class="forBox" v-for="(item,i) in list" :key="i">
        <div @click="itemShow(item)">
          <ul class="T-body">
            <li>{{item.month}}</li>
            <li>{{item.quantity}}</li>
            <li>{{item.cost}}</li>
          </ul>
        </div>
        <!-- 隐藏div整体盒子 -->
        <div class="hidenContent" v-show="item.isShow">
          <!-- 01电费电量个人阶梯 -->
          <div class="hidenBox01" v-if="item.type =='o-1'">
            <table class="table01">
              <thead>
                <tr>
                  <th>类别</th>
                  <th>单价</th>
                  <th>电量(度)</th>
                  <th>电费(元)</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(value,i) in item.details" :key="i">
                  <td>
                    <span class="green"></span>
                    {{value.type}}
                  </td>
                  <td>{{value.price}}</td>
                  <td>{{value.quantity}}</td>
                  <td>{{value.cost}}</td>
                </tr>
                <tr>
                  <td>
                    <span class="yellow"></span>二档用电
                  </td>
                  <td>加价0.05</td>
                  <td>80</td>
                  <td>4</td>
                </tr>
                <tr>
                  <td>
                    <span class="orange"></span>三档用电
                  </td>
                  <td>加价0.05</td>
                  <td>10</td>
                  <td>3</td>
                </tr>
              </tbody>
            </table>
            <div class="check">
              查看电费账单
              <img src="../../../assets/images/electPower/group.png" alt />
            </div>
          </div>
          <!-- 02电量电费－个人单一电价 -->
          <div class="hidenBox02" v-if="item.type =='o-2'">
            <table class="table02">
              <thead>
                <tr>
                  <th>类别</th>
                  <th>单价</th>
                  <th>电量(度)</th>
                  <th>电费(元)</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="(value,i) in item.details" :key="i">
                  <td>{{value.type}}</td>
                  <td>{{value.price}}</td>
                  <td>{{value.quantity}}</td>
                  <td>{{value.cost}}</td>
                </tr>
              </tbody>
            </table>
            <div class="check">
              查看电费账单
              <img src="../../../assets/images/electPower/group.png" alt />
            </div>
          </div>
          <!-- 04电量电费－个人峰谷 -->
          <div class="hidenBox03" v-if="item.type =='o-3'">
            <table class="table03">
              <thead>
                <tr>
                  <th>类别</th>
                  <th>单价</th>
                  <th>电量(度)</th>
                  <th>电费(元)</th>
                </tr>
              </thead>
              <tbody>
                <tr  v-for="(value,i) in item.details" :key="i">
                  <td>
                    <span class="yellow"></span>{{value.type}}
                  </td>
                  <td>{{value.price}}</td>
                  <td>{{value.quantity}}</td>
                  <td>{{value.cost}}</td>
                </tr>
                <tr>
                  <td>
                    <span class="green"></span>谷用电
                  </td>
                  <td>0.588</td>
                  <td>100</td>
                  <td>53</td>
                </tr>
              </tbody>
            </table>
            <div class="check">
              查看电费账单
              <img src="../../../assets/images/electPower/group.png" alt />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { XTable } from "vux";
import { Icon } from "vux";
export default {
  data() {
    return {
      list: [
        {
          month: "12月",
          quantity: "100",
          cost: "60.8",
          type: "o-1",
          isShow: false,
          details: [
            {
              type: "一档用电",
              price: "0.588",
              quantity: "100",
              cost: "60.8"
            }
          ]
        },
        {
          month: "11月",
          quantity: "50",
          cost: "115.6",
          type: "o-1",
          isShow: false,
          details: [
            {
              type: "二档用电",
              price: "0.588",
              quantity: "100",
              cost: "58.8"
            }
          ]
        },
        {
          month: "11月",
          quantity: "50",
          cost: "100",
          type: "o-1",
          isShow: false,
          details: [
            {
              type: "三档用电",
              price: "0.588",
              quantity: "100",
              cost: "58.8"
            }
          ]
        },
        {
          month: "10月",
          quantity: "50",
          cost: "100",
          type: "o-1",
          isShow: false,
          details: [
            {
              type: "三档用电",
              price: "0.588",
              quantity: "100",
              cost: "58.8"
            }
          ]
        },
        {
          month: "9月",
          quantity: "50",
          cost: "100",
          type: "o-1",
          isShow: false,
          details: [
            {
              type: "三档用电",
              price: "0.588",
              quantity: "100",
              cost: "58.8"
            }
          ]
        },
        {
          month: "8月",
          quantity: "50",
          cost: "100",
          type: "o-1",
          isShow: false,
          details: [
            {
              type: "三档用电",
              price: "0.588",
              quantity: "100",
              cost: "58.8"
            }
          ]
        },{
          month: "7月",
          quantity: "50",
          cost: "100",
          type: "o-1",
          isShow: false,
          details: [
            {
              type: "三档用电",
              price: "0.588",
              quantity: "100",
              cost: "58.8"
            }
          ]
        },
        {
          month: "6月",
          quantity: "50",
          cost: "100",
          type: "o-1",
          isShow: false,
          details: [
            {
              type: "三档用电",
              price: "0.588",
              quantity: "100",
              cost: "58.8"
            }
          ]
        },
        {
          month: "5月",
          quantity: "50",
          cost: "100",
          type: "o-1",
          isShow: false,
          details: [
            {
              type: "三档用电",
              price: "0.588",
              quantity: "100",
              cost: "58.8"
            }
          ]
        },
        {
          month: "4月",
          quantity: "50",
          cost: "100",
          type: "o-1",
          isShow: false,
          details: [
            {
              type: "三档用电",
              price: "0.588",
              quantity: "100",
              cost: "58.8"
            }
          ]
        },
        {
          month: "3月",
          quantity: "50",
          cost: "100",
          type: "o-1",
          isShow: false,
          details: [
            {
              type: "三档用电",
              price: "0.588",
              quantity: "100",
              cost: "58.8"
            }
          ]
        },
        {
          month: "2月",
          quantity: "50",
          cost: "100",
          type: "o-1",
          isShow: false,
          details: [
            {
              type: "三档用电",
              price: "0.588",
              quantity: "100",
              cost: "58.8"
            }
          ]
        },
        {
          month: "1月",
          quantity: "50",
          cost: "100",
          type: "o-1",
          isShow: false,
          details: [
            {
              type: "三档用电",
              price: "0.588",
              quantity: "100",
              cost: "58.8"
            }
          ]
        }

      ],
      type: 2
    };
  },
  components: {
    XTable,
    Icon
  },
  methods: {
    itemShow(item) {
      if (!item.isShow) {
        item.isShow = true;
      } else {
        item.isShow = false;
      }
    }
  },
  created() {}
};
</script>
<style scoped>
.T-head {
  font-size: 0.32rem;
  padding: 0.186667rem 0.266667rem;
  display: flex;
  justify-content: space-between;
  background-color: #eff1f0;
  color: #a3a3a3;
}
.T-body {
  font-size: 0.293333rem;
  padding: 0.4rem 0.266667rem;
  border-bottom: 0.013333rem solid #eff1f0;
  display: flex;
  justify-content: space-between;
}
/* ul li{
display: block;
} */
.listStyle {
  font-size: 0.293333rem;
}
.hidenContent {
  width: 100%;
  border-bottom: 1px solid #ccc;
  overflow: hidden;
}
.table01,
.table02,
.table03 {
  width: 100%;
  text-align: center;
}
thead {
  color: #a3a3a3;
  font-size: 0.293333rem;
}
.table01,
.table02,
.table03 tbody tr {
  color: #333333;
  height: 0.55rem;
  line-height: 0.55rem;
}
.hidenBox01,
.hidenBox02,
.hidenBox03 {
  font-size: 0.293333rem;
  border-top: 1px dashed #ccc;
  width: 80%;
  float: right;
  padding: 0.333333rem 0.266667rem;
  line-height: 100%;
}
.hidenThead {
  font-size: 0.266667rem;
  color: #9a9a9a;
  display: flex;
  justify-content: space-between;
}
.green,
.yellow,
.orange {
  display: inline-block;
  width: 0.2rem;
  height: 0.2rem;
  border-radius: 50%;
  margin-right: 0.146667rem;
}
.green {
  background-color: #96dc86;
}
.yellow {
  background-color: #f4e192;
}
.orange {
  background-color: #f6ba88;
}
.check {
  margin-top: 0.4rem;
  float: right;
  color: #0c82f0;
  font-size: 0.293333rem;
  text-align: center;
  height: 0.386667rem;
}
.check img {
  vertical-align: middle;
  width: 0.333333rem;
  height: 0.386667rem;
}
</style>