<template>
  <div class="mothEchartWap">
    <!-- 个人不执行阶梯不执行峰谷 -->
    <div class="ownBox1"
         id="ownBox1"></div>
  </div>
</template>
<script>

export default {
  data () {
    return {
      ownChart: '',
      ownOption: '',
      typeEcart: 'Q-2',// type==O-1 个人不执行阶梯不执行峰谷 O-2个人不执行阶梯执行峰谷;
      bgData: [
        {
          type: 'bar',
          xAxisIndex: 0,
          itemStyle: {
            normal: {
              color: '#edebec',
              barBorderRadius: 50,
            }
          },
          barWidth: '60%',
          data: [500, 500, 500, 500, 500, 500, 500, 500, 500, 500, 500, 500]
        }
      ],
      showSeriseData:[
          {
            name: '',
            type: 'bar',
            xAxisIndex: 1,
            stack: 'sum',
            barWidth: '60%',
            itemStyle: {
              color: '#94dc86',
              barBorderRadius: [0, 0, 50, 50],
            },
            data: [100, 0, 200, 254, 144, 30, 120, 33, 23, 45, 69, 84]
          },
          {
            name: '',
            type: 'bar',
            xAxisIndex: 3,
            stack: 'sum',
            barWidth: '60%',
            itemStyle: {
              color: '#f4e192',
              barBorderRadius: [0, 0, 0, 0],
            },
            data: [63, 82, 4, 25, 64, 98, 222, 43, 25, 67, 96, 89]
          },
          {
            name: '',
            type: 'bar',
            xAxisIndex: 3,
            stack: 'sum',
            barWidth: '60%',
            itemStyle: {
              color: '#f5b680',
              barBorderRadius: [50, 50, 0, 0],
            },
            data: [63, 82, 4, 25, 64, 98, 222, 43, 25, 67, 96, 89]
          }
      ],
      legendData: [],
      showX: [
        {
          type: 'category',
          data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
          axisTick: {
            show: false,

          },
          nameTextSty: {
            fontSize: 13,
          },
          axisLabel: {
            interval: 0//x轴文字全部显示
          },
          axisLine: {
            show: false,
          }
        }
      ],
      hideX:
      {
        type: 'category',
        data: ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月'],
        axisLine: {
          show: false
        },
        axisTick: {
          show: false
        },
        axisLabel: {
          show: false
        },
        splitArea: {
          show: false
        },
        splitLine: {
          show: false
        }
      }

    }
  },
  components: {

  },
  created () {

  },
  mounted () {

    this.ownOptionF()

    this.ownChart = this.$echarts.init(document.getElementById('ownBox1'))
    this.showEcartF()

  },

  methods: {
    ownOptionF () {
      let $this = this
      this.OwnOption = {
        grid: {
          show: false,
          left: 0,
          right: 0,
          top: '20%',
        },
        legend: {
          icon: 'circle',
          right: '2%',
          top: '5%',
          data: $this.legendDataF
        },
        xAxis: [],
        yAxis: [

          {
            show: false,
            type: 'value'
          }
        ],
        series: [
          // {
          //   type: 'bar',
          //   xAxisIndex: 0,
          //   // stack:'sum',
          //   itemStyle: {
          //     normal: {
          //       color: '#edebec',
          //       barBorderRadius: 50,
          //     }
          //   },
          //   barWidth: '60%',
          //   data: [500, 500, 500, 500, 500, 500, 500, 500, 500, 500, 500, 500]
          // },
          // {
          //   name: '谷',
          //   type: 'bar',
          //   xAxisIndex: 1,
          //   stack: 'sum',
          //   barWidth: '60%',
          //   itemStyle: {
          //     color: '#94dc86',
          //     barBorderRadius: [0, 0, 50, 50],
          //   },
          //   data: [100, 0, 200, 254, 144, 30, 120, 33, 23, 45, 69, 84]
          // },
          // {
          //   name: '峰',
          //   type: 'bar',
          //   xAxisIndex: 3,
          //   stack: 'sum',
          //   barWidth: '60%',
          //   itemStyle: {
          //     color: '#f4e192',
          //     barBorderRadius: [0, 0, 0, 0],
          //   },
          //   data: [63, 82, 4, 25, 64, 98, 222, 43, 25, 67, 96, 89]
          // },
          // {
          //   name: '尖',
          //   type: 'bar',
          //   xAxisIndex: 3,
          //   stack: 'sum',
          //   barWidth: '60%',
          //   itemStyle: {
          //     color: '#f5b680',
          //     barBorderRadius: [50, 50, 0, 0],
          //   },
          //   data: [63, 82, 4, 25, 64, 98, 222, 43, 25, 67, 96, 89]
          // }
        ]
      }
    },
    showEcartF () {

      // this.typeEcart = 'Q-2'
      switch (this.typeEcart) {
        case 'O-1':
          this.ownEchart1()
          break;
        case 'O-2':

          this.ownEchart2()
          break;
        case 'O-3':

          this.ownEchart3()
          break;
        case 'Q-1':
          this.ownEchart4()
          break;
        case 'Q-2':
          this.ownEchart5()
          break;
        case 'Q-3':
          this.ownEchart6()
          break;

        default:
          break;
      }
    },
    // 个人不执行阶梯不执行峰谷
    ownEchart1 () {

      let ownData = [{
        name: '',
        type: 'bar',
        barWidth: '60%',
        xAxisIndex: 1,
        itemStyle: {
          color: '#94dc86',
          barBorderRadius: 50,
        },
        data: [10, 52, 200, 334, 0, 330, 220, 233, 23, 45, 69, 34]
      }]
      let hidex = [this.hideX]
      this.OwnOption.xAxis = [...this.showX, ...hidex]
      this.OwnOption.series = [...this.bgData, ...ownData]
      this.ownChart.setOption(this.OwnOption)

    },
    // 个人不执行阶梯执行峰谷
    ownEchart2 () {
      let ownData = [
        {
          name: '峰',
          type: 'bar',
          stack: 'sum',
          xAxisIndex: 1,
          barWidth: '60%',
          itemStyle: {
            color: '#f4e192',
            barBorderRadius: 50,
          },
          data: [100, 52, 200, 254, 144, 30, 120, 33, 23, 45, 69, 84]
        }, {
          name: '谷',
          type: 'bar',
          stack: 'sum',
          xAxisIndex: 2,
          barWidth: '60%',
          itemStyle: {
            color: '#94dc86',
            barBorderRadius: [0, 0, 50, 50],
          },
          data: [43, 42, 34, 85, 14, 28, 22, 13, 20, 41, 56, 35]
        }

      ]


      // 根据series数据循环添加X轴数据叠加显示
      let hidex = [];
      ownData.map(() => {
        hidex.push(this.hideX)
      })
      this.OwnOption.xAxis = [...this.showX, ...hidex]
      this.OwnOption.series = [...this.bgData, ...ownData]
      this.ownChart.setOption(this.OwnOption)

    },
    // 个人执行阶梯
    ownEchart3 () {

      let ownData = [
        {
          name: '一档',
          type: 'bar',
          xAxisIndex: 1,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#94dc86',
            barBorderRadius: [0, 0, 50, 50],
          },
          data: [100, 0, 200, 254, 144, 30, 120, 33, 23, 45, 69, 84]
        }, {
          name: '二档',
          type: 'bar',
          xAxisIndex: 2,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#f4e192',
            barBorderRadius: [0, 0, 0, 0],
          },
          data: [43, 42, 0, 85, 14, 28, 22, 13, 20, 41, 56, 35]
        },
        {
          name: '三档',
          type: 'bar',
          xAxisIndex: 3,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#f6ba88',
            barBorderRadius: [50, 50, 0, 0],
          },
          data: [63, 82, 4, 25, 64, 98, 222, 43, 25, 67, 96, 89]
        }

      ]

      let hidex = [];
      ownData.map(() => {
        hidex.push(this.hideX)
      })
      this.OwnOption.xAxis = [...this.showX, ...hidex]
      this.OwnOption.series = [...this.bgData, ...ownData]
      this.ownChart.setOption(this.OwnOption)

    },
    // 企业用户-----北京地区
    ownEchart4 () {
      let ownData = [
        {
          name: '谷',
          type: 'bar',
          xAxisIndex: 1,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#94dc86',
            barBorderRadius: [0, 0, 50, 50],
          },
          data: [100, 0, 200, 254, 144, 30, 120, 33, 23, 45, 69, 84]
        }, {
          name: '平',
          type: 'bar',
          xAxisIndex: 2,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#67b7ff',
            barBorderRadius: [0, 0, 0, 0],
          },
          data: [43, 42, 0, 85, 14, 28, 22, 13, 20, 41, 56, 35]
        },
        {
          name: '峰',
          type: 'bar',
          xAxisIndex: 3,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#f4e192',
            barBorderRadius: [0, 0, 0, 0],
          },
          data: [63, 82, 4, 25, 64, 98, 222, 43, 25, 67, 96, 89]
        },
        {
          name: '尖',
          type: 'bar',
          xAxisIndex: 3,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#f5b680',
            barBorderRadius: [50, 50, 0, 0],
          },
          data: [63, 82, 4, 25, 64, 98, 222, 43, 25, 67, 96, 89]
        }

      ]

      let hidex = [];
      ownData.map(() => {
        hidex.push(this.hideX)
      })

      // 部分客户分为谷 平 峰 尖 时
      let type = 1
      if (type == 1) {
        ownData.splice(3)
        this.OwnOption.legend.data.splice(3)
        ownData[ownData.length - 1]['itemStyle']['barBorderRadius'] = [50, 50, 0, 0]
      }
      console.log(this.legendData,'000000')
      this.OwnOption.xAxis = [...this.showX, ...hidex]
      this.OwnOption.series = [...this.bgData, ...ownData]
      this.ownChart.setOption(this.OwnOption)

    },
    // 企业用户-----浙江、上海、江苏、山东、湖南公司
    ownEchart5 () {

      let ownData = [
        {
          name: '谷',
          type: 'bar',
          xAxisIndex: 1,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#94dc86',
            barBorderRadius: [0, 0, 50, 50],
          },
          data: [100, 0, 200, 254, 144, 30, 120, 33, 23, 45, 69, 84]
        }, {
          name: '平',
          type: 'bar',
          xAxisIndex: 2,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#67b7ff',
            barBorderRadius: [0, 0, 0, 0],
          },
          data: [43, 42, 0, 85, 14, 28, 22, 13, 20, 41, 56, 35]
        },
        {
          name: '峰',
          type: 'bar',
          xAxisIndex: 3,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#f4e192',
            barBorderRadius: [0, 0, 0, 0],
          },
          data: [63, 82, 4, 25, 64, 98, 222, 43, 25, 67, 96, 89]
        },
        {
          name: '尖',
          type: 'bar',
          xAxisIndex: 3,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#f5b680',
            barBorderRadius: [50, 50, 0, 0],
          },
          data: [63, 82, 4, 25, 64, 98, 222, 43, 25, 67, 96, 89]
        }

      ]


      let hidex = [];
      // ownData.map(() => {
        
      // })
      console.log(this.legendData,'000000')
      
      // 分时 谷 平 峰 尖 情况
      let type = 5
      if (type == 1) {
        this.showSeriseData.splice(3)
        this.legendData.splice(3)
         this.OwnOption.series[this.legendData.length - 1]['itemStyle']['barBorderRadius'] = [50, 50, 0, 0]
      }
      
      this.showSeriseData.map((item,index)=>{
          item.name=this.legendData[index]
      })
      this.OwnOption.xAxis = [...this.showX, ...hidex]
      // this.OwnOption.series = [...this.bgData, ...ownData]
      this.ownChart.setOption(this.OwnOption)

    },
    // 企业用户-----商铺
    ownEchart6 () {

      let ownData = [
        {
          name: '谷',
          type: 'bar',
          xAxisIndex: 1,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#94dc86',
            barBorderRadius: [0, 0, 50, 50],
          },
          data: [100, 0, 200, 254, 144, 30, 120, 33, 23, 45, 69, 84]
        },
        {
          name: '峰',
          type: 'bar',
          xAxisIndex: 3,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#f4e192',
            barBorderRadius: [0, 0, 0, 0],
          },
          data: [63, 82, 4, 25, 64, 98, 222, 43, 25, 67, 96, 89]
        },
        {
          name: '尖',
          type: 'bar',
          xAxisIndex: 3,
          stack: 'sum',
          barWidth: '60%',
          itemStyle: {
            color: '#f5b680',
            barBorderRadius: [50, 50, 0, 0],
          },
          data: [63, 82, 4, 25, 64, 98, 222, 43, 25, 67, 96, 89]
        }

      ]

      let hidex = [];
      ownData.map(() => {
        hidex.push(this.hideX)
      })
      this.OwnOption.xAxis = [...this.showX, ...hidex]
      this.OwnOption.series = [...this.bgData, ...ownData]
      this.ownChart.setOption(this.OwnOption)

    },
  },
  computed: {
    legendDataF () {
      this.legendData = []
      switch (this.typeEcart) {
        case 'O-1':
          break;
        case 'O-2':
          return ['峰', '谷']
          break;
        case 'O-3':
          return ['一档', '二档', '三档']
          break;
        case 'Q-1':
          return this.legendData = ['谷', '平', '峰', '尖']
          break;
        case 'Q-2':
          return this.legendData = ['谷', '平', '峰', '尖']
          break;
        case 'Q-3':
          return ['谷', '峰', '尖']
          break;

        default:
          break;
      }
    }
  }
}
</script>
<style scoped>
.ownBox1 {
  width: 100%;
  height: 7.466667rem;
}
</style>